@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700&family=Source+Code+Pro:ital,wght@1,200&display=swap');

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(rgba(26, 26, 26, 0.84),rgba(0, 0, 2, 0.534)),url(img/wine-glass.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*about style start*/
.about-section{
    margin-top: 85px;
    background-color: rgba(186, 181, 181, 0.623);   
    color: black;
    font-weight:  bold;
}

.about-section .about .about-content{
    display: flex;
    flex-direction: row;
}

.image1 .about1{
    height: 500px;
    width: 300px;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 50px;
}

.image2 .about2{
    height: 500px;
    width: 300px;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 50px;
}

.about-section .about-text{
    background-color: transparent;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 80px;
    border: 1px solid transparent;
    width: 600px;
    height: 500px;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

.about-section .about-text h1{
    font-family: kaushan script;
    padding-top: 25px;
   font-size: 36px;
}

.about-section .about-text h3{
    font-family: kaushan script;
    padding-top: 10px;
    font-size: 22px;
}

.about-section .about-text p{
    padding-top: 30px;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

/*about style end*/

/*chef style end*/
.chef-section{
    background-color: rgba(26, 26, 27, 0.527);
    padding-top: 0%;
    margin-top: 0%;
    color: white;
}


.chef-section .chef h1{
    font-family: kaushan script;
    text-align: center;
    font-size: 48px;
    color: white;
    font-weight: bolder;
    padding-top: 50px;

}

.chef-section .chef h3{
    font-family: kaushan script;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 10px;

}

.chef-section .chef h6{
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;

}


.chef-section .chef-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.chef-section .chef-card{
    border-radius: 10px;
    box-shadow: 2px;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.chef-section .chef-card img{
    width: 250px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.chef-section .chef-card img:hover{
    transform: scale(.1.1);
}

.chef-section .chef-card:hover{
    transform: scale(1.1);
    background-color: rgba(147, 148, 150, 0.361);
}

.chef-section .chef-card h1{
    font-family: kaushan script;
    font-size: 20px;
    margin-bottom: 10px;
}

.chef-content .chef-card p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
/*chef style end*/

/*testimonial section start*/
.testimonial{
    background-color: rgba(0, 0, 0, 0.539);
}

.testimonial h1{
    font-family: kaushan script;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    color: rgb(238, 238, 238);
}

.testimonial .testimonial-images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.testimonial .card{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    height: 450px;
    width: 320px;
    text-align: center;
}

.testimonial .card .card-img{
    display: flex;
    flex-direction: row;
}
.testimonial .card .card-img img{
    height: 90px;
    width: 90px;
    border-radius: 50px;
}

.testimonial .card .card-img p{
    margin-left: 20px;
    margin-top: 30px;
}
.testimonial .card h4{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.testimonial .card p{
    text-align: justify;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.testimonial .card:hover{
    transform: scale(1.1);
    background-color: rgba(147, 148, 150, 0.361);
    cursor: pointer;
    color: aliceblue;
}
/*testimonial section end*/

/*vision section start*/
.vision{
    background-color: rgba(0, 0, 0, 0.315);
}

.vision h1{
    font-family: kaushan script;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    color: rgb(238, 238, 238);
}

.vision .vision-images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.vision .card{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 400px;
    width: 400px;
    text-align: center;
}

.vision .card img{
    width: 300px;
    height: 200px;
}

.vision .card h2{
    padding-top: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.vision .card h4{
    font-size: 18px;
    font-weight: bold;
}

.vision .card p{
    font-size: 14px;
    font-weight: 600;
}

.vision .card:hover{
    transform: scale(1.1);
    background-color: rgba(147, 148, 150, 0.361);
    cursor: pointer;
    color: aliceblue;
}

/*media codes*/
@media (max-width:768px) {

    .about-section .about .about-content{
        display: flex;
        flex-wrap: wrap;
    }

    .image1 .about1{
        height: 300;
        width: 200px;
        margin-top: 50px;
        margin-left: 200px;
        margin-bottom: 50px;
    }

    .image2 .about2{
        height: 300;
        width: 200px;
        margin-top: 50px;
        margin-left: 25px;
        margin-bottom: 50px;
    }

    .about-section .about-text{
        background-color: transparent;
        border-radius: 25px;
        margin-left: 100px;
        margin-right: 80px;
        border: 1px solid transparent;
        width: 600px;
        height: 500px;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }
    
    /*chef section*/
    .chef-section .chef-content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 200px;
    }
}