@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    
    background-size: cover;
    background-repeat: no-repeat;
}

/*login form popup*/
.loginpopup{
    margin-top: 120px;
    background: linear-gradient(rgba(40, 40, 40, 0.3),rgba(129, 128, 146, 0.7)), url(img/receptionists-elegant-suits-during-work-hours.jpg);
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.login{
    text-align: center;
    align-items: center;
    width: 700px;
    margin-left: 400px;
    padding-bottom: 50px;
}

.loginpopup-content{
    padding-top: 100px;
}
.login-content{
    margin-left: 100px;
    align-items: center;
    top: 10%;
    margin-right: 100px;
    width: 500px;
    background: rgba(255, 255, 255, 0.203);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.login h1{
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    color: aliceblue;
}

form{
    margin-left: 100px;
    text-align: center;
    margin-top: 50px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 50px;
    
}
form p{
   font-size: 16px;
}

form .form-control{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    font-size: 15px;
}

form .input-control{
    margin-bottom: 30px;
    position: relative;
}

form button{
    width: 100px;
    text-align: center;
    font-weight: bold;

}

form a:hover{
    cursor: pointer;
}